@import '../../styles/colors.scss';

.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 4.0rem;
  padding-left: 3.1rem;
  padding-bottom: 0.3rem;
  background-color: $secondary;
}
